<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ua.ifntung.parkulab.activity"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"/>
     
    <application android:label="@string/app_name">
        
        <activity android:name=".MainScreenActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".AllItemsActivity"
                android:windowSoftInputMode="stateHidden" 
                android:label="@string/all_items_label" >
        </activity>

        <activity
                android:name=".NewItemActivity"
                android:label="@string/new_item_label" >
        </activity>

        <activity
                android:name=".EditItemsActivity"
                android:label="@string/edit_item_label" >
        </activity>
        <activity
                android:name=".UploadPhotoActivity"
                android:label="@string/edit_item_label" >
        </activity>

                 <activity
                android:name=".AllCategoriesActivity"
                android:label="Категорії:" >
        </activity>
         
                 <activity
                android:name=".NewCategoryActivity"
                android:label="Категорії:" >
        </activity>
              <activity
                android:name=".GetItemByQR"
                android:label="Отримати інформацію про предмет:" >
        </activity>
  <activity
                android:name=".ShowItemActivity"
                android:label="@string/item_info" >
        </activity>
          <activity
                android:name=".SettingsActivity"
                android:label="ss" >
        </activity>
              
         
    
    </application>
   <uses-permission android:name="android.permission.INTERNET" />
       <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest> 
